
.portfolio-container {
    text-align: center;
    padding: 4rem 2rem;
    background-color: #f8f1e7;
}

/* Intro Paragraph */
.portfolio-intro {
    max-width: 900px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.8;
    color: #5a3e36;
    font-style: italic;
    text-align: justify;
    padding-bottom: 2rem;
}

.pots {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically */
    gap: 20px; /* Space between image and text */
    padding-left: 5rem;
    padding-right: 45rem;
}

.pots img {
    width: 20rem; /* Adjust image size */
    height: auto;
    border-radius: 8px;
}

.pots-text {
    display: flex;
    flex-direction: column; /* Stack h3 and p */
}
/*================*/
.statue {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically */
    gap: 20px; /* Space between image and text */
    padding-left: 45rem;
    padding-right: 5rem;
}

.statue img {
    width: 20rem; /* Adjust image size */
    height: auto;
    border-radius: 8px;
}

.statue-text {
    display: flex;
    flex-direction: column; /* Stack h3 and p */
}
 h3{
    font-size: 2rem;
}